.env
__pycache__/
.DS_Store
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
report.md
src/automated_interview_simulator_with_hr_and_technical_agents/config/desktop.ini
src/automated_interview_simulator_with_hr_and_technical_agents/desktop.ini
*.ini
